/vendor
/node_modules
.env
.env.*
!.env.example
/public/storage
/storage/*.key
/storage/clockwork
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
*.sqlite
*.sqlite-journal
/.phpunit.cache
/.php-cs-fixer.cache
composer.lock
package-lock.json
yarn.lock
/.github
/phpunit.xml
database_backup.sql
